<div id="header">
<%# if session[:user_id] -%>
  <div class="user_welcome">
    <p>
      <% if user_signed_in? %>
        Signed in as <%= current_user.email %>. Not you?
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
      <% end %>
    </p>
  </div>
<%# end -%>
  <h1><%= link_to "Cancer KBS", root_path %></h1>
</div>